body {
    margin: 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 0.5%;
    color: white;
    background-color: black;
}

.logo {
    margin: 2vw;
    padding-left: 2vw;
    font-size: min(9vw, 30px);
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 35px;
    padding-right: 2vw;
    font-size: min(4.5vw, 20px);
    align-items: center;
    text-align: center;
    margin: 2vw;
    padding-left: 0;
}