body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    background-color: black;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    height: 6vh;
    min-height: 50px;
    padding: 0.5%;
    border-bottom: 1px solid white;
}

.logo {
    margin: 2vw;
    padding-left: 2vw;
    font-size: min(9vw, 30px);
    font-weight: 700;
    font-style: italic;
}

ul {
    display: flex;
    list-style-type: none;
    gap: min(35px, 4vw);
    padding-right: 2vw;
    font-size: min(4vw, 20px);
    align-items: center;
    text-align: center;
    margin: 2vw;
    padding-left: 0;
}

.header-content {
    margin-left: auto;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-evenly;
    align-items: center;
}

.intro div {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 2vh 5vw;
}

.intro div h1 {
    font-size: min(50px, 7vw);
    font-weight: 400;
}

.intro div p {
    font-size: min(25px, 5vw);
    font-style: italic;

}

a {
    text-decoration: none;
    color: white;
    padding: 1vw;
    background-color: black;
}

a:hover {
    filter: invert();
}

button {
    padding: 0.5vw;
    background-color: black;
    color: white;
    font-size: min(25px, 5vw);
    border: 2px solid white;
    margin-top: 2vh;
    font-family: 'Libre Baskerville', serif;
}

button:hover {
    filter: invert;
}

.intro img {
   max-width: 100%;
   height: auto;
}